# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
# Quick typing
snippet impl
	implements
snippet bb
	bitbucket
snippet bb/
	https://bitbucket.org
snippet gh
	github
snippet gh/
	https://github.com
snippet @
	imwilsonxu@gmail.com
snippet im
	imwilsonxu
