AutoComplPop
CSApprox
Conque-Shell
Jinja
SudoEdit.vim
Vundle.vim
brew.vim
ctrlp.vim
delimitMate.vim
emmet-vim
lightline.vim
matchit
mru.vim
nerdcommenter
nerdtree
python-mode
python-syntax
python.vim
snipmate-snippets
supertab
syntastic
tlib_vim
vim-addon-mw-utils
vim-colors-solarized
vim-colorschemes
vim-easymotion
vim-jinja
vim-misc
vim-nerdtree-tabs
vim-powerline
vim-reload
vim-repeat
vim-session
vim-snipmate
vim-surround
vundle
YouCompleteMe
zencoding-vim
