AutoComplPop
Conque-Shell
CSApprox
ctrlp.vim
delimitMate.vim
Jinja
matchit
mru.vim
nerdcommenter
nerdtree
python.vim
snipmate-snippets
SudoEdit.vim
supertab
syntastic
tlib_vim
vim-addon-mw-utils
vim-colorschemes
vim-easymotion
vim-nerdtree-tabs
vim-powerline
vim-reload
vim-repeat
vim-snipmate
vim-surround
vundle
zencoding-vim
vim-misc
python-syntax
vim-colors-solarized
vim-jinja
