AutoComplPop
matchit
mru.vim
nerdcommenter
nerdtree
snipmate.vim
SudoEdit.vim
SuperTab
vim-ruby
vim-surround
vundle
syntastic
taglist.vim
undotree
vim-fugitive
zencoding-vim
vim-reload
vim-repeat
Decho
Jinja
TaskList.vim
pydoc.vim
snipmate-snippets
tlib_vim
vim-addon-mw-utils
vim-snipmate
